<div class="mt:25px content">
  <div fxLayout="column" fxLayoutAlign=" none">
    <div
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px grid"
    >
      <div
        fxFlexFill
        fxFlex="33%"
        fxFlex.xs="100%"
        fxFlex.sm="25%"
        *ngFor="let hobby of hobbies"
      >
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>
              <mat-icon color="primary">apps</mat-icon>
              {{ hobby.hobbyName | titlecase }}</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ hobby.Description | titlecase }}
            </p>
            <mat-divider inset></mat-divider>
            <p>
              {{ hobby.keyFeatures | titlecase }}
            </p>
          </mat-card-content>
          <mat-divider inset></mat-divider>

          <mat-card-actions
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayout.xs="column"
            fxLayoutGap="10px"
          >
            <button
              mat-raised-button
              routerLink="/hobby/{{ hobby.id }}"
              routerLinkActive="hobby/{{ hobby.id }}"
              color="primary"
            >
              Interesting? Go to Hobby!
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <div *ngIf="pagination">
  <mat-paginator 
    [length]="pagination.totalItems"
    [pageSize]="pagination.itemsPerPage"
    (page)="pageChanged($event)"

  >
  </mat-paginator>
</div>
  <button mat-raised-button color="accent" matTooltip="Back To Categories"  routerLink="/categories" > <mat-icon>arrow_back</mat-icon> </button>
</div>
