<mat-card>
  <mat-card-title>Create Event</mat-card-title>
  <mat-card-content>
    <form [formGroup]="Form" (ngSubmit)="createEvent()">
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Event Title"
            formControlName="eventTitle"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Event Description"
            formControlName="eventDescription"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Event Rules"
            formControlName="eventRules"
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            matInput
            [ngxMatDatetimePicker]="picker"
            placeholder="Choose a date"
            formControlName="eventDate"
          />
          <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker
            #picker
            [showSpinners]="true"
            [showSeconds]="false"
          >
          </ngx-mat-datetime-picker>
        </mat-form-field>
        
      </p>

      <p>
        <mat-form-field>
          <input
            type="text"
            #placesRef="ngx-places"
            autocomplete="false"
            ngx-google-places-autocomplete
            (onAddressChange)="handleAddressChange($event)"
            matInput
            placeholder="Location"
            formControlName="eventLocation"
          />
        </mat-form-field>
      </p>

      <div class="button">
        <button
          [disabled]="!Form.valid"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Submit
        </button>
        <button
          mat-raised-button
          color="accent"
          routerLink="/hobby/{{ hobbyId }}"
        >
          Cancel
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
