<div *ngIf="!editMode" fxLayout="column" fxLayoutAlign="center center">
  <mat-card *ngIf="guide != null">
    <mat-card-header>
      <mat-card-title>{{ guide.title | titlecase }}</mat-card-title>
      <mat-card-subtitle
        >By :{{ guide.creatorUserName | titlecase }} ,{{
          guide.creationDate | date: "mediumDate"
        }},
        <div *ngIf="guide.editDate > guide.creationDate">
          {{ guide.editDate | date: "mediumDate" }}
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> {{ guide.content }} </mat-card-content>
    <mat-card-actions>
      <button *ngIf="canEdit"  mat-raised-button color="primary" (click)="edit()">
        Edit
      </button>
      
    </mat-card-actions>
  </mat-card>
  <button mat-raised-button matTooltip="Back To Hobby" color="accent" routerLink="/hobby/{{guide?.hobbyId}}">Back</button>
</div>


<div *ngIf="editMode" fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
      <form [formGroup]="Form" (ngSubmit)="submitGuide()">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Interesting Title</mat-label>
          <input matInput type="text" 
          formControlName="guideTitle">
        </mat-form-field>

        
          <angular-editor formControlName="guideContent" [config]="editorConfig"></angular-editor>
        
      <div class="button">
        <button [disabled]="!Form.valid" type="submit" mat-raised-button color="primary">
          Submit
        </button>
        <button mat-raised-button color="accent" routerLink="/hobby/{{hobbyId}}">Cancel</button>
      </div>

      </form>
    </mat-card>
  </div>
  

