<div *ngIf="hobby?.hobbyName" class="container" fxLayout="column" fxLayoutAlign="center center">
  <div class="mat-display-3">Welcome To: {{ hobby?.hobbyName }}!</div>
  <div class="topBox">
    
    
        <button mat-raised-button routerLink="event/create" color="accent"> Create Event!</button>
        <button class="mb:5px" mat-raised-button color="accent" routerLink="guide/create">Create Guide!</button>
        <div *ngIf="!following">
          <button mat-raised-button (click)="FollowHobby()" color="accent"> Follow Hobby!</button>
        </div>
        <div *ngIf="following">
          <button mat-raised-button (click)="unFollowHobby()" color="primary"> UnFollow Hobby?</button>
        </div>
      
   
    <mat-tab-group mat-align-tabs="start" backgroundColor="primary" color="accent">
      <mat-tab label="Description">{{ hobby?.description }}</mat-tab>
      <mat-tab label="Rules">{{ hobby?.rules }}</mat-tab>
      <mat-tab label="Members">
        <div  class="container">
          <div *ngFor="let member of members" class="member">
            <mat-card>{{member.userName}}</mat-card>
          </div>
        </div></mat-tab
      >
    </mat-tab-group>
  </div>
  <mat-card class="mb:10px"  fxLayout="row" fxLayoutAlign="space-evenly none" >
    <div>
      <p class="mat-display-2">Events:</p>
      <app-hobby-events-show [eventView]="hobby!.events"></app-hobby-events-show>
    </div>
  <mat-divider class="divider" [inset]="true" [vertical]="true"></mat-divider>
    <div>
      <p class="mat-display-2">Guides:</p>
      <app-hobby-guide-view [guideView]="hobby!.guides"></app-hobby-guide-view>
    </div>
  </mat-card>

  <button mat-raised-button color="accent" matTooltip="Back To Category" routerLink="/category/{{this.hobbyService.hobbyParams.categoryId}}"> <mat-icon>arrow_back</mat-icon> </button>
</div>
