
.member{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
}

.container{
    height: 200x;
    margin-bottom: 5px;
}
.topBox{
    height: 350px;
}
mat-card{
    border-radius: 15px;
}
mat-tab-group{
    border: 1px;
    border-radius: 10px;
    border-color: black;
}
button{
    margin: 5px;
   }
