<mat-card >
    <mat-card-header></mat-card-header>
  <mat-card-title>Want to Find new Hobbies?</mat-card-title>
  <mat-card-title>Want to Find Events to meet People like you?</mat-card-title>
  <mat-card-content>
    <p class="mat-headline" >
      So come here and Register(or log-in) to find all the new Hobbies, events
      and guides of the things you like!
    </p>
</mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/registration">
      registration
    </button>
    <button mat-raised-button color="primary" routerLink="/login">Login</button>
</mat-card-actions>
<mat-card-footer></mat-card-footer>
      
</mat-card>
